@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #22ad78;
    --color-secondary: #1b1b34;
    --color-accent: #c3e7d9;
    --color-neutral: #1c6953;
    --color-background: #F8F9FA;
}

body {
    background-color: var(--color-background);
    color: var(--color-secondary);
}

h1,
h2,
h3 {
    color: var(--color-primary);
}

button {
    background-color: var(--color-primary);
    color: white;
    border-radius: 8px;
}

button:hover {
    background-color: var(--color-neutral);
}